<template>
  <v-row>
    <v-col cols="10">
      <v-container>
        <v-card>
          <v-card-title>
            Агрегированный баланс
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :search="search"
            :loading="loading"
            :items="a_balance"
            :itemsPerPage="itemsPerPage"
          >
            <template v-slot:item.dates="{ item }">
              <span>{{ item.dates | formatNumber }}</span>
            </template>
          </v-data-table>
        </v-card>
      </v-container>
    </v-col>
  </v-row>
</template>
<script>
import { API } from "@/plugins/api.js";

export default {
  inject: ["theme"],
  data() {
    return {
      delimiters: [","],
      search: "",
      headers: [],
      itemsPerPage: 100,
      loading: true,
      a_balance: [],
      error: null,
      dates: null
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData();
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData"
  },
  methods: {
    mounted() {},
    redirect: function() {
      this.$router.push({ path: "constructor" });
    },
    fetchData() {
      if (this.$store.getters.A_BALANCE != null) {
        let dates = this.$store.getters.DATES;
        this.a_balance = null;
        this.headers = null;
        API.post("parsefile/is_changed",{dates: dates}, {
          headers: {
            Authorization: `Token ${this.$store.getters.TOKEN}`
          },
          dates: dates
        }).then(response =>{
          if(response.status != 200){
            return false;
          }
        }).catch(error =>{
          return false;
        });
        this.a_balance = this.$store.getters.A_BALANCE;
        this.headers = this.$store.getters.A_BALANCE_HEADERS;
        this.loading = false;
        return true;
      }

      if (this.$store.getters.FIRST_ANALYZE == null) {
        API.get("parsefile/last_analyze_data", {
          headers: {
            Authorization: `Token ${this.$store.getters.TOKEN}`
          }
        })
          .then(response => {
            this.$store.commit("SET_FIRST_ANALYZE", response.data);
            API.post(
              "parsefile/aggregate_balance",
              { date: this.$store.getters.FIRST_ANALYZE.date },
              {
                headers: {
                  Authorization: `Token ${this.$store.getters.TOKEN}`
                }
              }
            )
              .then(response => {
                this.a_balance = response.data.data;
                this.$store.commit("SET_A_BALANCE", response.data.data);
                let heads = response.data.headers;
                this.dates = heads;
                this.$store.commit("SET_DATES", this.dates);
                this.headers = [
                  {
                    text: "Номер",
                    align: "start",
                    sortable: false,
                    value: "number"
                  },
                  { text: "Агрегат", value: "name" },
                  { text: "A / П", value: "a_p" },
                  ...heads.map(d => ({
                    text: new Date(d).toLocaleString().split(",")[0],
                    value: d
                  }))
                ];
                this.$store.commit("SET_A_BALANCE_HEADERS", this.headers);
                this.loading = false;
              })
              .catch(error => {
                this.$notify({
              group: 'foo',
              title: 'Что то пошло не так',
              text: error.response.data.errors[0]
            });
              });
          })
          .catch(error => {
            this.$notify({
              group: 'foo',
              title: 'Что то пошло не так',
              text: error.response.data.errors[0]
            });
          });
      } else {
        API.post(
          "parsefile/aggregate_balance",
          { date: this.$store.getters.FIRST_ANALYZE.date },
          {
            headers: {
              Authorization: `Token ${this.$store.getters.TOKEN}`
            }
          }
        )
          .then(response => {
            this.a_balance = response.data.data;
            this.$store.commit("SET_A_BALANCE", response.data.data);
            let heads = response.data.headers;
            this.dates = heads;
            this.$store.commit("SET_DATES", this.dates);
            this.headers = [
              {
                text: "Номер",
                align: "start",
                sortable: false,
                value: "number"
              },
              { text: "Агрегат", value: "name" },
              { text: "A / П", value: "a_p" },
              ...heads.map(d => ({
                text: new Date(d).toLocaleString().split(",")[0],
                value: d
              }))
            ];
            this.$store.commit("SET_A_BALANCE_HEADERS", this.headers);
            this.loading = false;
          })
          .catch(error => {
            this.$notify({
              group: 'foo',
              title: 'Что то пошло не так',
              text: error.response.data.errors[0]
            });
          });
      }
    }
  }
};
</script>