<template>
<v-container fluid style="margin: 0px; padding: 0px; width: 100%">
  <v-row style="margin: 0px; padding: 0px; width: 100%;">
    <v-col flex style="margin: 0px; padding: 0px; width: 100%;">
        <GChart v-if="loading" type="ColumnChart" :data="chartData" :options="chartOptions" />   
    </v-col>
     <v-col flex style="margin: 0px; padding: 0px; width: 100%;">
           <GChart v-if="loading" style="margin: 0px; padding: 0px; width: 100%;" type="PieChart" :data="pieData" :options="pieOptions" />
        </v-col>
  </v-row>
  <v-row style="margin: 0px; padding: 0px; width: 100%;">
    <v-col style="margin: 0px; padding: 0px; width: 100%;">
      <GChart
          style="margin: 0px; padding: 0px; width: 100%;"
          v-if="loadingP"
          type="ColumnChart"
          :data="passiveChartData"
          :options="passiveChartOptions"
        />
    </v-col>
    <v-col style="margin: 0px; padding: 0px; width: 100%;">
      <GChart
          v-if="loadingP"
          type="PieChart"
          :data="passivePieData"
          :options="passivePieOptions"
        />
    </v-col>
  </v-row>
</v-container>
</template>
<script>
import { API } from "@/plugins/api.js";
import { GChart } from "vue-google-charts";

export default {
  data() {
    return {
      // Array will be automatically processed with visualization.arrayToDataTable function
      chartData: [
        [
          "Year",
          "Денежные средства, драгоценные металлы и камни",
          "Счета в Банке России и в уполномоченных органах других стран",
          "Ценные бумаги, приобретенные кредитными организациями"
        ],
        ["2014", 2677335, 8503017, 72694284],
        ["2015", 2657335, 8503817, 72600284],
        ["2016", 2347335, 8343817, 72344284],
        ["2017", 2907335, 8623817, 72844284]
      ],
      passiveChartData: null,
      chartOptions: {
        // chart: {
        //   title: "Всего активов",
        //   subtitle: ""
        // },
        title: "Гистограмма активов агрегированного баланса",
        legend: { position: "top", maxLines: 3 },
        isStacked: true,
        width: 800,
        height: 800
      },
      passiveChartOptions: {
        title: "Гистограмма пассивов агрегированного баланса",
        legend: { position: "top", maxLines: 3 },
        isStacked: true,
        width: 800,
        height: 800
      },
      pieOptions: {
        title: "Структура портфеля(активы)",
        is3D: true,
        width: 800,
        height: 800
      },
      passivePieOptions: {
        title: "Структура портфеля(пассивы)",
        is3D: true,
        width: 800,
        height: 800
      },
      pieData: null,
      passivePieData: null,
      loading: false,
      loadingP: false
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData();
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData"
  },
  methods: {
    mounted() {},
    fetchData() {
      API.post(
        "parsefile/get_all_actives",
        {},
        {
          headers: {
            Authorization: `Token ${this.$store.getters.TOKEN}`
          }
        }
      )
        .then(response => {
          if (response.status == 200) {
            this.chartData = null;
            response.data.data.map(e => {
              e[0] = new Date(e[0]).toLocaleString().split(",")[0];
            })
            this.chartData = [response.data.names, ...response.data.data];
            this.pieData = response.data.names.map(function(e, i) {
              return [e, response.data.data[response.data.data.length - 1][i]];
            });
            this.loading = true;
          }
        })
        .catch(error => {});

      API.post(
        "parsefile/get_all_passives",
        {},
        {
          headers: {
            Authorization: `Token ${this.$store.getters.TOKEN}`
          }
        }
      )
        .then(response => {
          if (response.status == 200) {
            this.passiveChartData = null;
            response.data.data.map(e => {
              e[0] = new Date(e[0]).toLocaleString().split(",")[0];
            })
            this.passiveChartData = [
              response.data.names,
              ...response.data.data
            ];
            this.passivePieData = response.data.names.map(function(e, i) {
              return [e, response.data.data[response.data.data.length - 1][i]];
            });
            this.loadingP = true;
          }
        })
        .catch(error => {});
    }
  }
};
</script>
