
<template>
  <v-container>
    <v-row>
      <v-col cols="10">
        <v-file-input
          v-model="file"
          multiple
          label="Загрузить файл"
          :error-messages="error.file_error"
          accept=".xlsx, .xls, .csv"
        ></v-file-input>
        <v-btn class="ma-2" outlined color="indigo" v-on:click="loadFile">Загрузить</v-btn>
      </v-col>
    </v-row>
    <v-row v-model="first_analyze" v-if="first_analyze">
      <v-col cols="10">
        <h2>Результаты первичного анализа</h2>
          <v-simple-table height="300px">
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">Актив или пассив</th>
              <th class="text-left">Сумма руб.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Актив</td>
              <td>{{ first_analyze.active_sum | formatNumber }}</td>
            </tr>
            <tr>
              <td>Пассив</td>
              <td>{{ first_analyze.passive_sum | formatNumber }}</td>
            </tr>
            <tr>
              <td>Рассхождение</td>
              <td>{{ first_analyze.a_p_diff | formatNumber }}</td>
            </tr>
            <tr>
              <td>Дата</td>
              <td>{{ first_analyze.date.toLocaleString().split(',')[0] }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <v-btn class="ma-2" outlined color="indigo" v-on:click="redirect">Перейти к отчету</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { API } from "@/plugins/api.js";

export default {
  name: "LoadDataExcel",

  data: function() {
    return {
      file: null,
      error: {
        file_error: []
      },
      first_analyze: this.$store.getters.FIRST_ANALYZE
    }
  },
  methods: {
    loadFile: function() {
      this.first_analyze = null;
      this.error.file_error = [];
      if (this.file === null) {
        this.error.file_error = ["Выберите файл"];
        return false;
      }
      if (this.file[0]["size"] / 1024 / 1024 > 1024) {
        this.error.file_error = ["Файл слишком большой"];
        return false;
      }
      const formData = new FormData();
      formData.append("file", this.file[0]);
      API.post("parsefile/load_excel", formData, {
        headers: {
          "Content-Type": "multipart/form-data",
          Authorization: `Token ${this.$store.getters.TOKEN}`
        }
      })
        .then(response => {
          this.first_analyze = response.data;
          this.$store.commit('SET_FIRST_ANALYZE', this.first_analyze);
          API.get('parsefile/get_last_dates').then(response => {
          if(response.status == 200){
            this.$store.commit('SET_DATE', response.data);
          }
          }).catch(error => {
            console.log(error);
          });
        })
        .catch(error => {
          this.error.file_error = error.response.data.errors[0];
          console.log(error.response.data.errors[0]);
          console.log("error");
        });
      console.log(this.file[0]["type"]);
    },
    redirect: function() {
      this.$router.push({ path: 'report'})
    }
  }
};
</script>
