
<template>
<v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
          margin-top="100px"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="username"
                    label="Username or email"
                    name="login"
                    prepend-icon="person"
                    type="text"
                    :error-messages="error.username"
                  />

                  <v-text-field
                    v-model="password"
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                    :error-messages="error.password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" v-on:click="loginUser">Login</v-btn>
              </v-card-actions>
              <v-card-text
                align="right">
                <router-link to="/sign_up">Sign up</router-link>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
</v-container>
</template>

<script>
import {API} from '@/plugins/api.js'


export default {
  name: 'LoginComponent',

  data: () => ({
      username: null,
      password: null,
      error: {
        'username': [],
        'password': []
      }
    }),
  methods: {
    loginUser: function() {
      let data = {
        'username': this.username,
        'password': this.password
      }
      API.post('user/login', data).then(response => {
        console.log('login response');
        API.get('parsefile/get_last_dates').then(response => {
          if(response.status == 200){
            this.$store.commit('SET_DATES', response.data);
          }
        }).catch(error => {
          console.log(error);
        });
        if(response.status == 200){
          this.$store.commit('SET_TOKEN', response.data.token)
          this.$store.commit('SET_USERNAME',response.data.username)
          this.$store.commit('SET_EMAIL', response.data.email)
          this.$router.push({ path: 'main/load_excel'})
        }
      }).catch(error => {
        console.log(error);
        this.error = error.response.data
      })
    }
  }
}
</script>

<style>
</style>
