<template>
  <v-container fluid style="margin: 0px; padding: 0px; width: 100%">
    <v-row>
      <v-col cols="10">
        <h1>Main Component</h1>
        <v-list rounded></v-list>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: "MainComponent",

  data: () => ({
    files: []
  }),
  methods: {}
};
</script>