<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <!-- <v-list-item to="/main/home">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Главная</v-list-item-title>
          </v-list-item-content>
        </v-list-item> -->

        <v-list-item to="/main/load_excel">
          <v-list-item-action>
            <v-icon>mdi-file-excel</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Загрузить данные</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/main/report">
          <v-list-item-action>
            <v-icon>mdi-file-chart</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Баланс</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/main/constructor">
          <v-list-item-action>
            <v-icon>mdi-fridge-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Агрегированный баланс</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/main/graph">
          <v-list-item-action>
            <v-icon>mdi-chart-areaspline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Дашборд</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-action>
          <v-list-item-content v-on:click="logoutUser">
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="indigo" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>{{ username.toUpperCase() }}</v-toolbar-title>
    </v-app-bar>

    <v-content fluid style="margin: 50px; padding: 0px; width: 100%">
      <router-view />
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
import { API } from "@/plugins/api.js";
import { store } from "@/store.js";

export default {
  props: {
    source: String
  },
  data() {
    return {
      username: store.getters.USERNAME,
      email: store.getters.EMAIL,
      drawer: null
    };
  },
  methods: {
    logoutUser: function() {
      this.$store.dispatch("logoutUser", this);
      this.$router.push("/");
    }
  }
};
</script>
