<template>
  <v-row>
    <v-col cols="10">
      <v-container>
        <v-col class="d-flex" cols="12" sm="6">
          <v-select ref="select" :items="dates" filled label="Баланс на"></v-select>
        </v-col>

        <v-card>
          <v-card-title>
            Баланс
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table :headers="headers" :items="num_scs" :search="search" :loading="loading"></v-data-table>
        </v-card>
        <v-btn
          class="ma-2"
          outlined
          color="indigo"
          v-on:click="redirect"
        >Перейти к агрегированному балансу</v-btn>
      </v-container>
    </v-col>
  </v-row>
</template>
<script>
import { API } from "@/plugins/api.js";

export default {
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Активный/Пассивный",
          align: "start",
          sortable: false,
          value: "a_p"
        },
        { text: "IITG руб.", value: "iitg" },
        { text: "БС1", value: "num_sc.bs1" },
        { text: "БС2", value: "num_sc.bs2" },
        { text: "Наименование первичного счета", value: "num_sc.name_bs1" },
        { text: "Наименование вторичного счета", value: "num_sc.name_bs2" }
      ],
      num_scs: [],
      loading: true,
      post: null,
      dates: this.$store.getters.DATES,
      error: null
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData();
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData"
  },
  methods: {
    redirect: function() {
      this.$router.push({ path: "constructor" });
    },
    fetchData() {
      if (this.$store.getters.DATES === null) {
        API.get("parsefile/get_last_dates", {
          headers: {
            Authorization: `Token ${this.$store.getters.TOKEN}`
          }
        })
          .then(response => {
            if (response.status == 200) {
              this.$store.commit("SET_DATES", response.data);
              this.dates = this.$store.getters.DATES;
            }
          })
          .catch(error => {
            this.loading=false;
            this.$notify({
              group: 'foo',
              title: 'Что то пошло не так',
              text: error.response.data.errors[0]
            });
          });
      }
      if (this.$store.getters.NUM_SCS != null) {
        this.num_scs = this.$store.getters.NUM_SCS;
        this.loading = false;
        return true;
      }
      if (this.$store.getters.FIRST_ANALYZE == null) {
        API.get("parsefile/last_analyze_data", {
          headers: {
            Authorization: `Token ${this.$store.getters.TOKEN}`
          }
        })
          .then(response => {
            this.$store.commit("SET_FIRST_ANALYZE", response.data);
            API.post(
              "parsefile/get_balance",
              { date: this.$store.getters.FIRST_ANALYZE.date },
              {
                headers: {
                  Authorization: `Token ${this.$store.getters.TOKEN}`
                }
              }
            )
              .then(response => {
                this.num_scs = response.data;
                this.$store.commit("SET_NUM_SCS", response.data);
                this.loading = false;
              })
              .catch(error => {
                this.loading=false;
                this.$notify({
                  group: 'foo',
                  title: 'Что то пошло не так',
                  text: error.response.data.errors[0]
                });
              });
          })
          .catch(error => {
            this.loading=false;
            this.$notify({
              group: 'foo',
              title: 'Что то пошло не так',
              text: error.response.data.errors[0]
            });
          });
      } else {
        API.post(
          "parsefile/get_balance",
          { date: this.$store.getters.FIRST_ANALYZE.date },
          {
            headers: {
              Authorization: `Token ${this.$store.getters.TOKEN}`
            }
          }
        )
          .then(response => {
            this.num_scs = response.data;
            this.$store.commit("SET_NUM_SCS", response.data);
            this.loading = false;
          })
          .catch(error => {
            this.loading=false;
            this.$notify({
              group: 'foo',
              title: 'Что то пошло не так',
              text: error.response.data.errors[0]
            });
          });
      }
    }
  }
};
</script>