
<template>
<v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
          margin-top="100px"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Sign up</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="username"
                    label="Username"
                    name="Username"
                    prepend-icon="person"
                    type="text"
                    :error-messages="error.username"
                  />
                  <v-text-field
                    v-model="email"
                    label="Email"
                    name="email"
                    prepend-icon="email"
                    type="email"
                    :error-messages="error.email"
                    />

                  <v-text-field
                    v-model="password"
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                    :error-messages="error.password"
                  />

                  <v-text-field
                    v-model="password1"
                    id="password1"
                    label="Repeat password"
                    name="password1"
                    prepend-icon="lock"
                    type="password"
                    :error-messages="error.password1"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" v-on:click="createUser">Sign up</v-btn>
              </v-card-actions>
              <v-card-text
                align="right">
                <router-link to='/'>Login</router-link>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
</v-container>
</template>

<script>
import {API} from '@/plugins/api.js'

export default {
  name: 'SignUpComponent',
  data () {
    return {
      username: null,
      email: null,
      password: null,
      password1: null,
      error: {
        'username': [],
        'password': [],
        'password1': [],
        'email': []
      },
      type: null
    }
  },
  methods: {
    createUser: function () {
      let data = {
        'username': this.username,
        'email': this.email,
        'password': this.password,
        'password1': this.password1
      }

      let router = this.$router;
      API.post('/user/create_user', data)
        .then(response => {
          this.error = {
            'username': [],
            'password': [],
            'password1': [],
            'email': []
          }
          this.$store.commit('SET_TOKEN', response.data.token)
          this.$store.commit('SET_USERNAME',response.data.username)
          this.$store.commit('SET_EMAIL', response.data.email)
          router.push('/main')
        })
        .catch(error => {
          this.error = error.response.data
        })
    }
  }
}
</script>

<style>
</style>
