<template>
  <v-app>
    <notifications group="foo" position="center" width="400px"/>
    <v-content
          align="center"
          justify="center">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import LoginComponent from '@/components/LoginComponent.vue'
import SignUpComponent from '@/components/SignUpComponent.vue'
import MainPageComponent from '@/components/MainPageComponent.vue'

export default {
  name: 'App',

  components: {
    LoginComponent,
    SignUpComponent,
    MainPageComponent
  },

  data: () => ({
    type: null,
    ellapse: null
  }),
  methods: () => ({
  })
}
</script>
